.person {
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}