.info_button{
	position: absolute;
	bottom: -1px;
	right: -1px;
	min-width: 15px;
	max-width: 15px;
	min-height: 15px;
	max-height: 15px;
	border: 1px solid black;
	background-color: #0f0;
	display: flex;
	z-index: 2;
	cursor: pointer;
	padding-right: 2px;
	padding-bottom: 2px;
}

.info_window{
	position: absolute;
	bottom: -200px;
	right: -125px;
	border: 1px solid black;
	background-color: #fff;
	width: 250px;
	height: 350px;
	z-index: 2;
}

.infoBox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 10px;
	padding-left: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
.form{
    margin-top: 22px;
}

.infoBox span{
	align-self: start;
}

.formControls{
	background-color: #555;
}


.image_place{
	width: 100%;
	height: 100px;
}

.male_image{
	background-color: #add8e6;
}

.female_image{
	background-color: #ffc0cb;
}

.closeBtn img{
	width: 18px;
	height: 18px;
}

.editBtn img{
	width: 18px;
	height: 18px;
}
.editBtn b{
	color: #fff;
	background-color: #aaa;
}

.photo{
	max-width: 250px;
	max-height: 100px;
}

.editBtn{
	position: absolute;
	display: flex;
	left: 5px;
	top: 5px;
	width: 18px;
	height: 18px;
}

.closeBtn{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 18px;
	height: 18px;
	color: #fff;
}

