{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div id="root"></div>
        <footer class="footer">&copy; 2018 Tykym.ru</footer>
    </div>
{% endblock %}
