.userInfo{
	height: 500px;
	font-family: sans-serif;
	font-size: 17px;
	margin-top: 10px;
	margin-left: 10px
}


.userInfoRow{
	font-size: 15px;
	display: block;
	margin-left: 85px;
}


.lastname{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}
