.bt_add_tree{
border: 1px solid #8d8b8b;
background-color: #f4f4f4;
padding: 3px;
width: 280px;
text-align: center;
float: right;
cursor: pointer;
margin: 5px;
}

.form_new_tree{
margin-left: auto;
margin-right: auto;
}

.form_new_tree table td{
padding: 5px;
}

.form_new_tree table tr:nth-child(4), tr:nth-child(5){
text-align: right;
}

.form_new_tree table td input[name="nacional_set"]{

}