.invite_plus_button{
	position: absolute;
	bottom: -1px;
	left: -1px;
	min-width: 15px;
	max-width: 15px;
	min-height: 15px;
	max-height: 15px;
	border: 1px solid black;
	background-color: #0f0;
	display: flex;
	z-index: 2;
	cursor: pointer;
}

.active_invite_form{
	position: absolute;
	top:49px;
	left: -150px;
	border: 1px solid black;
	background-color: #fff;
	width: 250px;
	height: 80px;
	z-index: 1;
}

.active_invite_form input[type="text"]{
	width: 95%;
	background-color: #fff;
	border: 1px solid black;
}

.active_invite_form input[type="button"]{
	width: auto;
	background-color: #fff;
	border: 1px solid black;
}


.active_invite_form .invite_plus_button{
	left: 148px;
	top: -16px;
}


.active_invite_form.loading{
	display: flex;
	align-items: center;
	justify-content: center;
}
